# Ignore Gradle project-specific cache directory
.gradle
*.ndjson

# Ignore Gradle build output directory
build
bin

# Ignore generated Eclipse config files
.classpath
.project

# Ignore checked out dependency repos
metafacture-*